<tr>
  <td class="text-center"><%= @food.id %></td>
  <td class="text-center"><%= @food.name %></td>
  <td class="text-center"><%= link_to(image_tag(@food.image.thumb.url, 
    alt: 'Image'), @food.image.url, target: '_blank') %></td>
  <td class="text-center"><%= @food.price %></td>
  <td class="text-center"><%= @food.discount_id %></td>
  <td class="text-center"><%= @food.category_id %></td>
  <td class="text-center"><%= @food.actived ? 
    t("admin.foods._foods.actived")
    : t("admin.foods._foods.pending") %></td>
  <td class="text-center"><%= @food.description %></td>
   <td class="text-center"><%= @food.is_top ? 
    t("admin.foods._foods.yes")
    : t("admin.foods._foods.no") %></td>
  <td class="text-center">  
    <%= link_to edit_admin_food_path(@food),
      class: "mike-action mike-action-edit" do %>
      <i class="fa fa-pencil"></i>
    <% end %>
  </td>
  <td class="text-center">
    <%= link_to admin_food_path(@food), method: :delete,
      class: "mike-action mike-action-delete",
      data: {confirm: t("admin.users._user.confirm_delete")} do %>
      <i class="fa fa-times"></i>
    <% end %>
  </td>
</tr>
