<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav side-nav">
    <li>
      <%= link_to admin_root_path do %>
        <i class="fa fa-fw fa-dashboard"></i><%= t ".dashboard" %>
      <% end %>
    </li>
    <li>
      <%= link_to admin_users_path do %>
        <i class="fa fa-fw fa-user-o"></i><%= t ".user" %>
      <% end %>
    </li>
    <li>
      <%= link_to "javascript:;", :data => {:toggle => "collapse", 
        :target => "#demo"} do %>
        <i class="fa fa-fw fa-cutlery"></i><%= t ".food" %>
        <i class="fa fa-fw fa-caret-down"></i>
      <% end %>
      <ul id="demo" class="collapse">
        <li>
          <%= link_to "#" do %>
            <%= t ".list_food" %>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <%= t ".add_food" %>
          <% end %>
        </li>
      </ul>
    </li>    
    <li>
      <%= link_to "forms.html" do %>
        <i class="fa fa-fw fa-edit"></i><%= t ".order" %>
      <% end %>
    </li>
    <li>
      <%= link_to "forms.html" do %>
        <i class="fa fa-fw fa-caret-square-o-down"></i><%= t ".discount" %>
      <% end %>
    </li>
    <li>
      <%= link_to "forms.html" do %>
        <i class="fa fa-fw fa-comment-o"></i><%= t ".review" %>
      <% end %>
    </li>
  </ul>
</div>
